.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1840px   ;
    gap: 300px;
    background-color: black;
    height: 100px;
    }
.header a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

    .footer{
        display: flex;
        align-items: end;
       height: 100px;
       background-color: black;
      margin-top: 320px;
        justify-content: center;

    }

    .footer h1{
        color: white;
    }

    .blog{
        display: flex;
        max-width: 1840px;
      
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about{
        max-width: 1840px;
        display: flex;
        justify-content: center;
        
        margin-top: 140px;
    }
    .about p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
  